<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479169615715-c9kk92vub4lq2v562h7q9m1qo822f0cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479169615715-c9kk92vub4lq2v562h7q9m1qo822f0cq</string>
	<key>API_KEY</key>
	<string>AIzaSyBy_e7b4qhJ24YRsNOkDezlSYWlK7H6q7o</string>
	<key>GCM_SENDER_ID</key>
	<string>479169615715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayya.foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-1d1d9</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-1d1d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479169615715:ios:dac48badde879d55cf6556</string>
	<key>DATABASE_URL</key>
	<string>https://foodapp-1d1d9.firebaseio.com</string>
</dict>
</plist>